<nav aria - label="...">
    <ul class="pagination justify-content-center">
        <% if(totalBooks <=limit ){ %>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">1</a>
            </li>
            <% } else {%>
                <% if(currentPage> 1 ){ %>
                    <li class="page-item">
                        <a class="page-link" href="<%= host%>/admin/?page=<%= Number(currentPage) - 1 %>" tabinduex="-1"
                            aria-disabled="true">Previous</a>
                    </li>
                    <% } else{ %>
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabinduex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <% } %>
                            <% for(let i=1; i <=numberOfPages; i++){%>
                                <% if(currentPage===i){ %>
                                    <li class="page-item active">
                                        <a class="page-link " href="<%= host%>/admin/?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% continue; %>
                                        <% } %>
                                            <li class="page-item">
                                                <a class="page-link" href="<%= host%>/admin/?page=<%= i %>">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% } %>
                                                <% if(currentPage <numberOfPages){ %>
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                            href="<%= host%>/admin/?page=<%= Number(currentPage) + 1 %>">Next</a>
                                                    </li>
                                                    <% } else {%>
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#">Next</a>
                                                        </li>
                                                        <% } %>
                                                            <% } %>
    </ul>
</nav>